# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

# .github/workflows/node.js.yml

name: Frontend CI

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  build-and-check:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: sad-email-frontend/package-lock.json

      - name: Install dependencies
        run: |
          cd sad-email-frontend
          npm ci

      - name: Lint
        run: |
          cd sad-email-frontend
          npm run lint

      - name: Build
        run: |
          cd sad-email-frontend
          npm run build

      - name: Test
        run: |
          cd sad-email-frontend
          npm test
